@mixin font($ff:Arial, $weight:normal, $size:15px, $color:#293E51, $height:100%) {
	font-family: $ff, sans-serif;
	font-weight:$weight;
	font-size:$size;
	color:$color;
	line-height: $height;
}

@mixin skill-progress($height, $bgc) {
	height: $height + %;
	background-color: $bgc;
}

@function letspace ($photoshop-ls, $font-size) {
	@return ($photoshop-ls * $font-size)/1000 + px;
}