.svg-icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/sprite.svg");
      background-repeat: no-repeat;
      background-size: 2.4em 4.9em;

      .no-svg & {
        background-image: url("../sprite.png");
      }
    }
}




.svg-icon.svg-icon_cloud {
  &:before {
      background-position: 0em 0em;
      width: 2.4em;
      height: 1.6em;
    }
  }

  @mixin svg-icon-svg-icon_cloud(){
    @extend .svg-icon_cloud;
  }


.svg-icon.svg-icon_home {
  &:before {
      background-position: 0em -1.6em;
      width: 2em;
      height: 1.7em;
    }
  }

  @mixin svg-icon-svg-icon_home(){
    @extend .svg-icon_home;
  }


.svg-icon.svg-icon_virtual {
  &:before {
      background-position: 0em -3.3em;
      width: 2em;
      height: 1.6em;
    }
  }

  @mixin svg-icon-svg-icon_virtual(){
    @extend .svg-icon_virtual;
  }



