extends ../layout/main.pug

include ../blocks/header/header.pug
include ../blocks/progress/progress.pug
include ../blocks/blazon/blazon.pug
include ../blocks/hosting/hosting.pug
include ../blocks/rounds/rounds.pug
include ../blocks/footer/footer.pug

block title
	title uCoz test
block pageContent
	div.l-wrap
		+header()
		+progress()
		+blazon()
		+hosting()
		+rounds()
		+footer()