mixin progress()
	section.section
		.progress
			.skills
				.skills__content
					.skill.skill-1
						span.skill-1__progress
					.skill.skill-2
						span.skill-2__progress
					.skill.skill-3
						span.skill-3__progress
					.skill.skill-4
						span.skill-4__progress

				p.margin-top_20 Высота столбца отражает уровень развития навыка, прогрессбар внутри — прогресс внутри уровня.

			.graph
				.graph__content
					<svg class= 'graph-svg' viewBox="0 0 400 87"  preserveAspectRatio="none">

						<g class="graph-svg__line1" style="stroke:rgb(25,145,226);stroke-width:1">
							<line x1="0" y1="87" x2="50" y2="50%"/>
							<line x1="50" y1="50%" x2="100" y2="52%"/>
							<line x1="100" y1="52%" x2="150" y2="80%"/>
							<line x1="150" y1="80%" x2="200" y2="20%"/>
							<line x1="200" y1="20%" x2="250" y2="30%"/>
							<line x1="250" y1="30%" x2="300" y2="60%"/>
							<line x1="300" y1="60%" x2="350" y2="0%"/>
							<line x1="350" y1="0%" x2="400" y2="2%"/>
						</g>

						<g class="graph-svg__line2" style="stroke:yellow;stroke-width:1">
							<line x1="0" y1="80%" x2="50" y2="90%"/>
							<line x1="50" y1="90%" x2="100" y2="46%"/>
							<line x1="100" y1="46%" x2="150" y2="63%"/>
							<line x1="150" y1="63%" x2="200" y2="37%"/>
							<line x1="200" y1="37%" x2="250" y2="50%"/>
							<line x1="250" y1="50%" x2="300" y2="40%"/>
							<line x1="300" y1="40%" x2="350" y2="90%"/>
							<line x1="350" y1="90%" x2="400" y2="95%"/>
						</g>

						<g class="graph-svg__data1" data-setname="Our first data set">

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="50" cy="50%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(20,13)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">0 479 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="100" cy="52%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(70,15)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">0 798 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="150" cy="80%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(120,40)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">8 880 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="200" cy="20%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(170,-13)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">3 999 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="250" cy="30%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(220,-5)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">6 795 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="300" cy="60%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(270,22)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">2 876 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="350" cy="0%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(320,-31)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">3 223 $</text>
								</g>
							</g>

						</g>

						<g class="graph-svg__data2" data-setname="Our first data set">

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="50" cy="90%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(20,49)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">5 152 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="100" cy="46%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(70,10)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">2 222 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="150" cy="63%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(120,25)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">1 111 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="200" cy="37%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(170,1)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">3 034 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="250" cy="50%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(220,12)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">8 044 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="300" cy="40%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(270,3)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">1 04 $</text>
								</g>
							</g>

							<g class="graph-circle">
								<circle class="graph-circle__price" cx="350" cy="90%" r="3" fill='#293E51'></circle>
								<g class="graph-tooltip" transform="translate(320,48)">
										<rect class='graph-tooltip__bg' rx="4" width="61px" height="24px"></rect>
										<polygon class='graph-tooltip__triangle' points="27,24 33,24 30,27"/>
										<text class='graph-tooltip__text' x="10" y="16">7 344 $</text>
								</g>
							</g>

						</g>
					</svg>

				p.margin-top_20 Графики предстоит реализовать без всяких сторонних библиотек. Тёмная плашечка — реакция на наведение.