mixin header()
	header.header
		.header-content
			h1.header-content__title Тестовое задание
			p.header-content__subtitle на должность верстальщика
		
		.header__columns
			.header__column
				p Вам предстоит сверстать эту страничку. Можно использовать любые инструменты. Применение пре- или пост- процессоров CSS будет плюсом.   
			.header__column
				p Просматривая задания, мы обратим внимание на соответствие вёрстки макету, качество кода и то каким способом сверстали тот или иной элемент.
			.header__column
				p Будет плюсом если вы сделаете адаптивную версию страницы. Макетов мобильной версии нет, нужно придумать как это всё перекомпоновать.