mixin hosting()
	section.section
		.l-hosting
			.hosting
				.hosting-top
					.hosting-top__row
						.hosting__col.hosting__col_width-164
							span.hosting-top__section-name Хостинг
						.hosting__col.hosting__col-grow 
							span.hosting-top__section-name Тип
						.hosting__col.hosting__col_width-150
							span.hosting-top__section-name Защита от атак
						.hosting__col
							span.hosting-top__section-name Стоимость

				.hosting-content
					.hosting__row
						.hosting__col.hosting__col_width-164
							i.hosting-content__icon.svg-icon.svg-icon_home
							a(href="#").hosting-content__name Домашний
						.hosting__col.hosting__col-grow 
							span.hosting-content__type Бесплатный
						.hosting__col.hosting__col_width-150
							div.hosting-defence
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field
								span.hosting-defence__field
								span.hosting-defence__field
								span.hosting-defence__field
						.hosting__col
							span.hosting-content__price Бесплатно

					.hosting__row
						.hosting__col.hosting__col_width-164
							i.hosting-content__icon.svg-icon.svg-icon_virtual
							a(href="#").hosting-content__name Виртхост
						.hosting__col.hosting__col-grow 
							span.hosting-content__type Виртуальный
						.hosting__col.hosting__col_width-150
							div.hosting-defence
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field
								span.hosting-defence__field
						.hosting__col
							span.hosting-content__price 50 $ в день

					.hosting__row
						.hosting__col.hosting__col_width-164
							i.hosting-content__icon.svg-icon.svg-icon_cloud
							a(href="#").hosting-content__name Хипстер-хост
						.hosting__col.hosting__col-grow 
							span.hosting-content__type Облачный
						.hosting__col.hosting__col_width-150
							div.hosting-defence
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field.hosting-defence__field_yellow
								span.hosting-defence__field
						.hosting__col
							span.hosting-content__price 285 $ в день

				p.margin-top_20 Иконок будет много, нужно озаботиться о том как их систематизировать и хранить.
