mixin rounds()
	section.section
		.rounds
			.round.round_orange
			.round.round_blue
			.round.round_orange
			.round.round_white
			.round.round_blue
			.round.round_orange
			.round.round_white
			.round.round_green
			.round.round_orange
			.round.round_purple
			.round.round_orange

		p.rounds__text.margin-top_20 Нужно придумать интересную анимацию исчезания кружочка. По клику на элемент, скрывается, а остальные сдвигаются и занимают его место.